#Archivos generados por NetBeans
Makefile
build/
nbproject/
dist/
*.inc
.dep.inc
*gch
# Extensiones de los file
.vscode/
*.exe
# Verificacion en el NetBeans y pruebas de codigos pequenos
Pruebas/
Enunciados/
# Sincronizar notas de Obsidian con este carpeta
sync.ffs_db
# Zips
*.zip
