#Archivos generados por NetBeans
Makefile
build/
nbproject/
dist/
*.inc
*gch
*.o
# Archivos generados al momento de compilar en Java
*.class
# Extensiones de los file
.vscode/
*.exe
# Verificacion en el NetBeans y pruebas de codigos pequenos
Pruebas/
Enunciados/
# Sincronizar notas de Obsidian con este carpeta
sync.ffs_db
# Zips
*.zip
#Archivos de CLion para cuando se trabaja en Linux
.idea/
cmake-build-debug/
CMakeLists.txt
# Temporalemente
#EstructurasDeDatos/
CodigosDePrueba/

